<div class="container">
  <div class="page-header">
    <div class="float-right">
      <%= link_to "Add new account", new_account_path, class: "btn btn-outline-primary" %>
    </div>
    <h1>Accounts</h1>
  </div>

    <% @accounts.each do |type, accounts| %>
      <h5><%= type %></h5>

      <% accounts.each do |account| %>
        <ul class="list-group">
          <li class="list-group-item"><%= account.name %></li>
        </ul>
      <% end %>

    <% end %>
  
</div>
